.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input, button {
    padding: 5px;
    margin: 5px;
  }

  div {
    margin-bottom: 20px;
    label {
      font-size: 13px;
    }
  }
}