@media (max-width: 1055px) {
  .target-container {
    flex-direction: row !important;
    width: 800px !important;
    height: 300px !important;
  }
}

@media (max-width: 700px) {
  .target-container {
    flex-direction: column !important;
    justify-content: center;
    height: 590px !important;
  }

  p {
    margin: 4px;
    font-size: 18px;
  }

  .header {
    width: 100%;
  }

  .header ul {
    display: none;
  }

  .header .nickname {
    width: 170px;
  }

  .header .nickname:hover {
    width: 229px;
  }

  #description {
    font-size: 15px;
  }

  .buttons > ul > li.header-block {
    display: none;
  }
}

@media (max-width: 300px) {
  .header .nickname:hover {
    width: 170px;
  }
}